<div class="container">
    <h2>Delete Course</h2>

    <div class="form-row" *ngIf="!showMsg">
        <div class="alert alert-danger col-md-12" role="alert">
            Are You Sure?
            <br>
            <div class="btn-group" role="group">
                <button class="btn btn-outline-danger btn-sm" (click)="delete()">Delete</button>
                <a class="btn btn-outline-danger btn-sm" [routerLink]="[ '/course-list']">Back</a>
            </div>
        </div>
    </div>

    <div class="form-row" *ngIf="showMsg">
        <div class="alert alert-{{type}} col-md-12" role="alert">
            {{msg}}
            <br>
            <a class="btn btn-outline-danger btn-sm" [routerLink]="[ '/course-list']">Back</a>
        </div>
    </div>

    <form #courseForm="ngForm" *ngIf="course">
        <div class="form-row">
            <div class="col-md-4">
                <label>ID:</label>
                <input type="text" id="CourseID" name="CourseID" placeholder="Enther the course ID" class="form-control"
                    #courseID [(ngModel)]="course.CourseID" readonly />
            </div>
            <div class="col-md-4">
                <label>Title:</label>
                <input type="text" id="title" name="Title" placeholder="Enther the title" class="form-control" #title
                    [(ngModel)]="course.Title" />
            </div>
            <div class="col-md-4">
                <label>Credits:</label>
                <input type="text" id="credits" name="credits" placeholder="Enther the credits" class="form-control"
                    #credits [(ngModel)]="course.Credits" />
            </div>
        </div>

       
        
    </form>

</div>
